* {
  background-color: lightblue;
  font-family: "Courier New", Courier, monospace;
}

.hide {
  display: none;
}

.navbar {
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 10%;
}

#content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

img {
  width: 600px;
  border: 4px solid black;
}

.item img {
  width: 400px;
}

.button {
  width: 80px;
}

.menu-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 50px;
}
